body {
  width: 40%;
  background-color: #FFFFFF;
  color: black;
  font-family: arial;
  margin: auto;
}
h1 {
  color: #333333;
}
.container_text{
	width: 100%;
	background-color: #DDDDDD;
	padding:20px;
}

.container_network{
	width: 200%;
	background-color: #DDDDDD;
	padding:20px;
	margin-left: -50%;
}